NEXT_PUBLIC_API_URL="# your medblock api endpoint"
NEXTAUTH_SECRET="# generate using: node -e \"console.log(require('crypto').randomBytes(64).toString('hex'))\""
NEXTAUTH_URL="# your deployment url or http://localhost:3000 for local"

NEXT_PUBLIC_II="# your internet identity canister url"

NEXT_PUBLIC_LOCAL_CANISTER_EMR="# your emr canister id"
NEXT_PUBLIC_LOCAL_CANISTER_PATIENT="# your patient canister id"
NEXT_PUBLIC_LOCAL_CANISTER_PROVIDER="# your provider canister id"

NEXT_PUBLIC_API_KEY="# your api key"

NODE_ENV="development"